Options +FollowSymLinks
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^ index.php [L]

 <Files .env>
         Order allow,deny
         Deny from all
       </Files>

       <Files composer.json>
         Order allow,deny
         Deny from all
       </Files>
        <Files google_client_secret.json>
                Order allow,deny
                Deny from all
              </Files>

